<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeWithMeVSAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeWithMeVSAddin.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DBHost" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiKeyPublic" serializeAs="String">
                <value>30fdab5276ff9b8e48bdfce19b1b5a04575887be</value>
            </setting>
            <setting name="ApiKeyPrivate" serializeAs="String">
                <value>c30007566d744cb8d6b0fd6f675b853475ef1ebc</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>http://192.168.1.100/CodeWithMe/api/1</value>
            </setting>
        </CodeWithMeVSAddin.Properties.Settings>
    </userSettings>
</configuration>